*{
    padding: 0;
    margin: 0;
}
body{
    font-family: Luckiest guy;
    background-color: #e6e6ae;

}
.container {
    padding: 20px;
    overflow: hidden;
    background-color: #fe4a49;

}
.container h1 {
    float:left;
    margin-left: 20%;
    color: white;

}

.container ul{
    list-style-type: none;
    font-size: 20px;
    margin-left:60%;
}
.container li{
    margin-top: 10px;
    float: left;
    padding: 0 20px 0 20px;
}
.container a {
    text-decoration: none;
    color: white;
}
.current a::after{
    content: '-';
    background-color: white;
    font-size: 40px;
    display: block;
}
.wrapper {
    display: grid;
    grid-template-columns: 82% 18%;
}

.equation {
    font-size: 65px;
    background-color: white;
    border-radius: 3px;
    text-align: center;
    padding-top: 15%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.equation h1{
    display: inline;
    padding: 20px;
}
.answerOptions {
    font-size: 67px;
    margin-right: 10px;
}
.answerOptions h1{
    cursor: pointer;
    color: whitesmoke;
    border-radius: 3px;
    margin-top: 10px;
    text-align: center;
    width: 100%;
    transition: all 0.3s ease;
    user-select: none;
}
.answerOptions h1:active{
    transform: scale(0.95);
}
#option1 {
    background-color: #fe4a49;
    transition: all 0.3s ease;
}
#option1:hover{
    color: #fe4a49;
    background-color: white;
    transform: scale(1.05);
}
#option2 {
    background-color: #2ab7ca;
    transition: all 0.3s ease;
}
#option2:hover{
    color: #2ab7ca;
    background-color: white;
    transform: scale(1.05);
}
#option3 {
    background-color: #fed766;
    transition: all 0.3s ease;
}
#option3:hover{
    color: #fed766;
    background-color: white;
    transform: scale(1.05);
}
